@import "../utils/variables";
@import "../utils/mixins";
@import "../../../node_modules/include-media/dist/include-media";

html {
  overflow-x: hidden;
}

body {
  // min-width: $layout-page-min-width;
  @include font-gilroy-bold;
  font-size: 18px;
  // line-height: $line-height;
  color: $text-color;
  background: $bg-color url(../../img/empty.png) no-repeat left top fixed;
  transition: color 0.7s, background-color 0.7s;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 16px;

  @include media(">1590px") {
    padding: 0 16px;
    max-width: 1582px;
  }

  @include media("<1590px") {
    padding: 0 16px;
    max-width: 1368px;
  }

  @include media("<1368px") {
    padding: 0 16px;
    max-width: 992px;
  }

  @include media("<992px") {
    padding: 0 16px;
    max-width: 768px;
  }

  @include media("<768px") {
    padding: 0 16px;
    max-width: 768px;
  }
}